/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#images li {
    width: 33%;
    height: auto;
	max-width: 30%;
    display: inline-block;
    position: relative;
	padding-left: 1em;
	padding-top: 5em;
	vertical-align: top;
}

#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

#images li button {
    display: inline-block;
}

#images {
    list-style-type: none;
}

#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}

hr {
    clear:both;
}



  








